{% extends "base.html" %}
{% block content %}
<div class="header">
	<div class="container">
		<div class="row">
			<div class="one-half column info-column">
				<div class="header-logo">
					<a href="index.html"><img src="/static/images/logo.png"></a>
				</div>
				<ul class="header-links">
					<li><a href="index.html/#projects">Projects</a></li>
					<li><a href="index.html/#profile">Profile</a></li>
					<li><a href="index.html/#contact">Contact</a></li>
				</ul>
				<div class="header-info">
					<p>887 Bergen St.
					</br>Brooklyn, NY, 11238
					</br>info@radiantpanda.com</p>
				</div>
			</div>
			<div class="one-half column">
				<h2>Badge</h2>
				<p>Badge is a contacts and communication mobile app for companies. It allows teammates to communicate more effectively and see important contact and contextual information about their colleagues.</p>

				<p>Badge creates a better way to share critical employee information, not only for connecting with each other, but also for surfacing contextual information, such as where a teammate fits within the organization, or if someone is available to chat. Badge was designed to become the central identity for employees, a mobile hub that connected all their access, conversations, interactions, and information related to work.</p>
			</div>
		</div>
	</div>
</div>

<div class="project">
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<img class="image" src="/static/images/badge/badge-img-1.jpg">
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<img class="image" src="/static/images/badge/badge-img-2.jpg">
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<img class="image" src="/static/images/badge/badge-img-3.jpg">
			</div>
			<div class="six columns">
				<img class="image" src="/static/images/badge/badge-img-4.jpg">
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<img class="image" src="/static/images/badge/badge-img-5.jpg">
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<img class="image" src="/static/images/badge/badge-img-6.jpg">
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<img class="image" src="/static/images/badge/badge-img-7.jpg">
			</div>
			<div class="six columns">
				<img class="image" src="/static/images/badge/badge-img-8.jpg">
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<img class="image" src="/static/images/badge/badge-img-9.jpg">
			</div>
		</div>
	</div>
</div>


<div class="footer">
	<div class="container">
		<div class="row"> 
			<div class="one-half footer-offset column">
				<div class="row full-width-row">
					<div class="one-half column">
						<h2>Contact Us</h2>
						<p>If you are interested in working with us, please get in touch.</p>
						</br>
						<p>info@radiantpanda.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock content%}
