{% extends "base.html" %}
{% block content %}
<div class="header">
	<div class="container">
		<div class="row">
			<div class="one-half column info-column">
				<div class="header-logo">
					<a href="index.html"><img src="/static/images/logo.png"></a>
				</div>
				<ul class="header-links">
					<li><a href="index.html/#projects">Projects</a></li>
					<li><a href="index.html/#profile">Profile</a></li>
					<li><a href="index.html/#contact">Contact</a></li>
				</ul>
				<div class="header-info">
					<p>887 Bergen St.
					</br>Brooklyn, NY, 11238
					</br>info@radiantpanda.com</p>
				</div>
			</div>
			<div class="one-half column">
				<h2>Hotspot</h2>
				<p>Hanging out with friends is great but wrangling them together can be a pain in the ass. Jasjit Singh and I created Hotspot to make this process less painful.</p>

				<p>Hotspot then evolved into a deals app where users are rewarded money off drinks and food for inviting their friends to join them at a bar or restaurant.</p>

				<p>Coded the iOS app and the backend in Django. I stopped working on Hotspot in August 2014 but Jasjit carries the torch.</p>
			</div>
		</div>
	</div>
</div>

<div class="project">
	<div class="container">
		<div class="row">
			<div class="twelve columns">
				<img class="image" src="/static/images/hotspot/hotspot-1.jpg">
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<img class="image" src="/static/images/hotspot/hotspot-2.jpg">
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<img class="image" src="/static/images/hotspot/hotspot-3.jpg">
			</div>
			<div class="six columns">
				<img class="image" src="/static/images/hotspot/hotspot-4.jpg">
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<img class="image" src="/static/images/hotspot/hotspot-5.jpg">
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<img class="image" src="/static/images/hotspot/hotspot-6.jpg">
			</div>
		</div>
		<div class="row">
			<div class="six columns">
				<img class="image" src="/static/images/hotspot/hotspot-7.jpg">
			</div>
			<div class="six columns">
				<img class="image" src="/static/images/hotspot/hotspot-8.jpg">
			</div>
		</div>
		<div class="row">
			<div class="twelve columns">
				<img class="image" src="/static/images/hotspot/hotspot-9.jpg">
			</div>
		</div>
	</div>
</div>


<div class="footer">
	<div class="container">
		<div class="row"> 
			<div class="one-half footer-offset column">
				<div class="row full-width-row">
					<div class="one-half column">
						<h2>Contact Us</h2>
						<p>If you are interested in working with us, please get in touch.</p>
						</br>
						<p>info@radiantpanda.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock content%}
