{% extends "base.html" %}
{% block content %}
<div class="header">
	<div class="container">
		<div class="row">
			<div class="one-half column info-column">
				<div class="header-logo">
					<a href="#"><img src="/static/images/logo.png"></a>
				</div>
				<ul class="header-links">
					<li><a href="#projects">Projects</a></li>
					<li><a href="#profile">Profile</a></li>
					<li><a href="#contact">Contact</a></li>
				</ul>
				<div class="header-info">
					<p>887 Bergen St.
					</br>Brooklyn, NY, 11238
					</br>info@radiantpanda.com</p>
				</div>
			</div>
			<div class="one-half column">
				<h2 class="hero-tagline">We're a digital product design and development studio. We like making organizations happy by helping them build great things.</h2>
			</div>
		</div>
	</div>
</div>
<div class="projects">
	<div class="container">
		<div class="row">
			<div class="twelve columns section-description">
				<a name="projects"></a>
				<h3>Projects</h3>
			</div>
		</div>
		<div class="row full-width-row ">
			<div class="project-thumbnail column grid">
				<figure class="effect-julia">
					<img class="image thumbnail" src="/static/images/thumbnails/thumbnail-hotspot.jpg">
					<figcaption>
						<h3>Hotspot</h3>
						<a href="hotspot.html">View more</a>
					</figcaption>
				</figure>
			</div>
			<div class="project-thumbnail column grid">
				<figure class="effect-julia">
					<img class="image thumbnail" src="/static/images/thumbnails/thumbnail-badge.jpg">
					<figcaption>
						<h3>Badge</h3>
						<a href="badge.html">View more</a>
					</figcaption>
				</figure>
			</div>
		</div>
		<div class="row full-width-row">
			<div class="project-thumbnail column grid">
				<figure class="effect-julia">
					<img class="image thumbnail" src="/static/images/thumbnails/thumbnail-triage.jpg">
					<figcaption>
						<h3>Triage</h3>
						<a href="triage.html">View more</a>
					</figcaption>
				</figure>
			</div>
			<div class="project-thumbnail column grid">
				<figure class="effect-julia">
					<img class="image thumbnail" src="/static/images/thumbnails/thumbnail-menopro.jpg">
					<figcaption>
						<h3>Menopro</h3>
						<a href="menopro.html">View more</a>
					</figcaption>
				</figure>
			</div>
		</div>
	</div>
</div>
<div class="profile-description">
	<div class="container">
		<div class="row">
			<div class="twelve columns section-description">
				<a name="profile"></a>
				<h3>Profile</h3>
			</div>
		</div>
	</div>
</div>
<div class="profile">
	<div class="container">
		<div class="row profile-content">
			<div class="three columns">
				<h4 class="profile-h4">Our Services</h4>
				<p>We love building products and helping to solve hard problems.</p>
				<p>We are a complete design and developement studio based in Brooklyn, NY, with an reputation for quality, bespoke designs across mobile and web platforms.</p>
				<p>What we can do for you: mobile design and development, web design and development, improve existing products, research, analytics.</p>
			</div>
			<div class="six columns">
				<img class="image avatars" src="/static/images/profile-avatars.png">
			</div>
			<div class="three columns avatar-info">
				<p>Jeff Ames (L) - Developer
				</br>JT White (R) - Designer</p>
			</div>
		</div>
	</div>
</div>
<div class="footer">
	<div class="container">
		<div class="row"> 
			<div class="one-half footer-offset column">
				<div class="row full-width-row">
					<div class="one-half column">
						<a name="contact"></a>
						<h2>Contact Us</h2>
						<p>If you are interested in working with us, please get in touch.</p>
						</br>
						<p>info@radiantpanda.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


{% endblock content%}
